@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800");
@import "./assets/css/themefisher-fonts.min.css";
@import "assets/css/bootstrap.min.css";
@import "assets/css/main.css";
@import "assets/css/dark.css";
@import "assets/css/colors/red.css";

.mb-3{
    margin-bottom: 15px !important;
}

.mt-3{
    margin-top: 15px !important;
}
.ml-2{
    margin-left: 7px !important;
}

.history-scroller{
    overflow-y: scroll;
}

.works-item .works-inner{
    transform: unset !important;
    position: unset !important;
}


